{% extends "navbar.html" %}
{% load static %}
{% load bootstrap5%}
{% bootstrap_css%}
{% bootstrap_javascript%}

{% block titulo %} Registrarse {% endblock %}

{% block contenido %}
<div class="container text-center">
    <br>
    <h1>Registrarse</h1>
    <br>
    <hr>
    <br>
  </div>
  <!--box ingreso sesión-->
  <div class="container">
    <div class="row">
      <div class="col-sm-6 container-fluid">
        <form class="row g-3 needs-validation" novalidate>
          <div class="row g-3">
            
            <div class="col-md-6">
              <label for="username" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombre" placeholder="Ej: Carlos" required>
              <div class="invalid-feedback">
                No puede quedar vacío
              </div>
            </div>
            
            <div class="col-md-6">
              <label for="username" class="form-label">Apellido Paterno</label>
              <input type="text" class="form-control" id="Apellido" placeholder="Ej: Perez" required>
              <div class="invalid-feedback">
                No puede quedar vacío
              </div>
            </div>

            <div class="col-md-6">
              <label for="username" class="form-label">Apellido Materno</label>
              <input type="text" class="form-control" id="Apellido" placeholder="Ej: Gomez" required>
              <div class="invalid-feedback">
                No puede quedar vacío
              </div>
            </div>
          

            <div class="col-md-6">
              <label for="telefono" class="form-label">Telefono</label>
              <input type="text" class="form-control" id="telefono" placeholder="Ej: 912344567" required>
              <div class="invalid-feedback">
                No puede quedar vacío
              </div>
            </div>

            <div class="col-12">
              <label for="mail" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="ejemplo@mail.com" required>
              <div class="invalid-feedback">
                No puede quedar vacío
              </div>
            </div>

            <div class="col-md-6">
              <label for="password" class="form-label">Clave</label>
              <input type="password" class="form-control" id="password" placeholder="Ingrese clave" required>
              <div class="invalid-feedback">
                No puede quedar vacío
              </div>
            </div>

            <div class="col-12">
              <label for="direccion" class="form-label">Direccion</label>
              <input type="text" class="form-control" id="direccion" placeholder="Ej: Antonio Varas 666" required>
              <div class="invalid-feedback">
                No puede quedar vacío
              </div>
            </div>

            <!--
            <label for="cboRegiones">Region</label>
              <select
                name="cboRegiones"
                id="cboRegiones"
                class="form-select mb-3 col-md-4">
                <option value="" disable hidden>Seleccione una opcion </option>
              </select>
            <label for="cboProvincias">Provincia</label>
            <select
                name="cboProvincias"
                id="cboProvincias"
                class="form-select mb-3 col-md-4" disabled>
                <option value="" disable hidden>Seleccione una opcion</option>
            </select>
              <label for="cboComunas">Comuna</label>
                <select
                  name="cboComunas"
                  id="cboComunas"
                  class="form-select mb-3 col-md-4" disabled>
                  <option value="" disable hidden>Seleccione una opcion</option>
                </select>
              <div class="invalid-feedback">
                No puede quedar vacío
              </div>
            -->

            <div class="col-md-6">
              <label for="codigoPostal" class="form-label">Codigo postal</label>
              <input type="text" class="form-control" id="codigoPostal" placeholder="123456" required>
              <div class="invalid-feedback">
                No puede quedar vacío
              </div>
            </div>
          
            <div class="col-md-7">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" required>
                <label class="form-check-label" for="gridCheck">
                  Acepta los términos y condiciones
                </label> 
                <div class="invalid-feedback">
                  Debe aceptar los terminos y condiciones
                </div>
              </div>
            </div><br><br>

            <div class="col-12">
              <button type="submit" class="btn btn-primary" onclick="enviarformulario()" id="btnCrearUsuario" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Crear usuario</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Asegúrese de tener sus datos correctos
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atrás</button>
        <button type="button" class="btn btn-primary">Crear usuario</button>
      </div>
    </div>
  </div>
</div>
<br>
<div class="alert alert-success" role="alert">
  Revisa los datos

<div id="error">
</div> 
</div>
</div>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
  })()
</script>
  <!--box ingreso sesión-->
{% endblock %}