{% extends "navbar.html" %}
{% load static %}
{% load bootstrap5%}
{% bootstrap_css%}
{% bootstrap_javascript%}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}

    {% if request.user.is_authenticated %}
    <div class="container text-center">
        <br>
        <h1>Bienvenid@ {{user.username | upper}}</h1>
        <hr>
        <br>
    </div>
    {% endif %}

    <!--Inicio Carrusel-->
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/banner1.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/banner2.png' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'img/social-media.png' %}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!--Fin Carrusel-->

    <br>
    <hr>
    <div class="container text-center">
        <h1>Productos destacados</h1>
    </div>
    <hr><br>

    <!--Inicio cards-->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="{% static 'img/flor2.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Amapola</h5>
                    <p class="card-text">Embellece tu hogar.</p>
                    <a href="{% url 'productos' %}" class="btn btn-primary">Ver producto</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'img/bambu.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bambú</h5>
                    <p class="card-text">Embellece tu hogar.</p>
                    <a href="{% url 'productos' %}" class="btn btn-primary">Ver producto</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'img/tierra.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tierra</h5>
                    <p class="card-text">Revive tus plantas con la mejor tierra.</p>
                    <a href="{% url 'productos' %}" class="btn btn-primary">Ver producto</a>
                </div>
            </div>
        </div>
    </div>
    <!--Fin cards-->

    <br>
    <hr>
    <div class="container text-center">
        <h1>Productos nuevos</h1>
    </div>
    <hr><br>
    <!--Inicio cards-->
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="{% static 'img/florespora.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Flor espora</h5>
                    <p class="card-text">Embellece tu hogar.</p>
                    <a href="{% url 'productos' %}" class="btn btn-primary">Ver producto</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'img/arbusto_muerto3.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Arbusto muerto</h5>
                    <p class="card-text">Embellece tu hogar.</p>
                    <a href="{% url 'productos' %}" class="btn btn-primary">Ver producto</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'img/arena.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Arena</h5>
                    <p class="card-text">Decora tus plantas con la mejor arena.</p>
                    <a href="{% url 'productos' %}" class="btn btn-primary">Ver producto</a>
                </div>
            </div>
        </div>
    </div>
    <!--Fin cards-->

{% endblock %}