{% extends "navbar.html" %}
{% load static %}
{% load bootstrap5%}
{% bootstrap_css%}
{% bootstrap_javascript%}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %}
<div class="container text-center">
    <br>
    <h1>Nosotros</h1>
    <br>
    <hr>
    <br>
</div>
<div class="container text-center">
    <h2>¿Pellentesque habitant?</h2>
</div>
<div class="texto-nosotros">
    <div class="row-">
        <div class="col">
            <p align="center">Fusce tempus metus quis nunc dapibus, id tempor mi consectetur. Pellentesque habitant
                morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam cursus orci congue
                arcu fermentum, a vestibulum est volutpat. Donec dignissim tellus sit amet nulla dictum hendrerit.
                Integer sit amet risus leo. Duis eget maximus nulla. Aliquam velit tellus, pulvinar ac nisi ut,
                efficitur venenatis dui. Quisque auctor id lorem et dignissim. Donec varius urna neque, a gravida
                purus laoreet sit amet. Aenean aliquam orci in fringilla aliquet. Curabitur at dui cursus, placerat
                risus eget, lobortis magna.</p>
        </div>
    </div>
</div>
<br>
<div class="container text-center">
    <h2>¿Aenean venenatis?</h2>
</div>
<div class="texto-nosotros">
    <div class="row">
        <div class="col">
            <p align="center">Aenean venenatis pellentesque est gravida hendrerit. Mauris at feugiat lectus.
                Maecenas hendrerit, neque non sagittis ullamcorper, sem urna imperdiet enim, in accumsan neque lorem
                bibendum eros. Suspendisse quis laoreet risus. Donec vel porta lectus. Class aptent taciti sociosqu
                ad litora torquent per conubia nostra, per inceptos himenaeos. Duis faucibus ante in mattis tempor.
                Praesent facilisis at urna at congue.</p>
        </div>
    </div>
</div>

<div class="container text-center">
    <br>
    <hr>
    <h2>Nuestras redes</h2>
    <hr><br>
</div>

<div class="container-logos">
    <div class="row">
        <div class="col-4">
            <div id="instagram_logo" class="col text-center">
                <a href="#" title="instagram"> 
                    <img class="instagram" src="{% static 'img/instagram.png' %}" alt="Bootstrap" width="100">
                </a>
            </div>
        </div>
        <div class="col-4">
            <div id="twitter_logo" class="col text-center">
                <a href="#" title="twitter">
                    <img class="twitter" src="{% static 'img/twitter.png' %}" alt="Bootstrap" width="100">
                </a>
            </div>
        </div>
        <div class="col-4">
            <div id="facebook_logo" class="col text-center">
                <a href="#" title="facebook">
                    <img class="facebook" src="{% static 'img/facebook.png' %}" alt="Bootstrap" width="100">
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}